@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}

h1{
    margin: 0;
    padding: 0;
}

h3{
    margin: 0;
    padding: 0;
}

.titulos {
    
   
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Afacad Flux", sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: lightcoral;
}

.charts {
    display: flex;
    justify-content: center;
    align-items: center;
}


